@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100;300;700&display=swap%27');
* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  /* color:var(--black); */
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* width: 100vw;
  height: 100vh; */
}

:root {
  --white: #FFFFFF;
  --white_transparent: rgba(255, 255, 255, 0.5);
  --blue: #4A9DFF;
  --black: #6C6C6C;
}